body{
    background-image: url(../imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.encabezado{
background-color: rgb(5, 56, 85);
padding-bottom: 20px;
font-family: Arial, Helvetica, sans-serif;
display: grid;
font-size: 18px;

grid-template-columns: auto;
grid-template-rows: 50px auto auto;
}

.menu_link_imagen{
    display: flex;
    height: 50px;
    width: 150px;
    margin-left: -15px;
    margin-top: -15px;
    margin-right: auto
    
    
}

.menu_item {
    align-items: center;
    display: flex;
}

.menu_link{
    color: #ecdddd;
    padding: .5rem 1rem;
}

.menu_link:link{
    text-decoration: none;
    margin: 1rem;
    margin-top: 0;
}

.menu_link:hover{
    text-decoration: underline;
    color: rgb(241, 4, 4);
}

.introduccion{
    font-family: cursive;
    color: aliceblue;
    border: 3px solid rgb(90, 115, 197);
    text-align: center;
}

#intro {
    text-align: center;
    border: 1px solid #ecdddd;
    color: rgb(255, 255, 255);
    background-color:rgba(0, 255, 255, 0.267);
    font-size: 35px;
}



.indice_item  {
    list-style: none;
    text-decoration: none;
    margin: 1rem;
    margin-top: 0;
    text-align: left;
    font-size: 25px;
}

#indice_link {
    text-decoration: none;
    color: rgb(16, 3, 36);
}

#indice_link:hover{
    text-decoration: underline;
}

#dragon {
    width: 1100px;
    height: 600px;
}

.indice {
    width: auto;
    height: auto;
    background: #13d896;
    opacity: .4;
    border: 1px solid #ecdddd;
    margin-left: -3rem;
}

#explicacion_campeones {
    text-align: center;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 30px;
    background: url(../imagenes/gif_jinx.gif) ;
    background-size: cover;
    height: 200px;
    border: 1px solid #ecdddd;
}

.regiones {
    color: white;
    text-align: center;
    font-size: 30px;
    background-color: black;
    width: 90%;
    margin-left: 5%;
    border: 2px solid #ecdddd ;
}

.titulo_regiones {
    text-decoration: underline;
}

.imagenes_regiones {
    width: auto;
    height: 500px;
    background-color: black;
    justify-content: center;
}

.boton_campeones { 
    display: inline-block;
    border-radius: 4px;
    background-color: #7883e6;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
}

.boton_campeones:hover {
    background-color: #ff0000;
    color: white;
    text-decoration: underline;
}

.mapa_runaterra{
    display: flex;
    background-color: #7883e6;
    justify-content: center;
    border: 1px solid #ecdddd;
    margin-top: 20px;
}

#mapa_link {
    border-radius: 4px;
    background-color: #7883e6;
    color: #FFFFFF;
    font-size: 40px;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
    text-decoration: none;
    justify-content: center;
    margin-left: 35%;
}

#mapa_link:hover{
    background-color: #ff0000;
    color: white;
    text-decoration: underline;
    margin-bottom: 20px;
}

#pie {
    background-color: #c565959a;
    border: 3px solid #ecdddd;
    text-align: center;
}

.pie_link {
    display: flex;
    width: 100px;
    height: 60px;
    margin-left: 80%;
    
}

#derechos_autor {
    font-size: 15px;
    text-decoration: none;
}